html,body{
    height: 100%;
}
body{
    background: rgba(123,123,123,0.08);
}
.col-centrar{
    float: none!important;
    margin: 0 auto;
}
form{
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 6px 1px rgba(2,2,2,0.12);
}
/*form input, button{*/
    /*border-radius: 0!important;*/
/*}*/
.caja{
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 4px 1px rgba(2,2,2,0.1);
}

.imagen{
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 6px 1px rgba(2,2,2,0.12);
}
.input-gruop{
    display: block !important;
}
/*input{*/
    /*margin-bottom: 20px !important;*/
/*}*/
.bg{
    background: url("../img/bg.jpg") center center no-repeat;
    background-size: cover;
}
.izq{
    height: 100%;
    width: 240px;
    background: #1d1d42;
    position: fixed;
    padding-top: 60px;
}
.perfil{
    padding: 39px 50px 10px 50px;
}
.perfil .img{
    width:100%;
}
.nombre{
    color: white;
}
.der{
    margin-left: 240px;
    padding-top: 60px;
}
.cabecera-pagina{
    padding: 30px;
}
.titulo-pagina{
    font-size: 24px;
    display: inline-block;
    margin-top: 0;
}
.titulo-pagina > small{
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
.fecha{
    padding: 10px 20px;
    background-color: #fafafa;
}
.logo{
    position: fixed;
    background: #1d1d42;
}
header .navbar
{
    margin-left: 240px;
}
header .logo{
    color: white;
    width: 240px;
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    box-shadow: 0 2px 1px rgba(0,0,0,0.47);
}

.mas{
    padding-bottom: 0!important;
}
.mas i{
    /*font-size: 16px;*/
}
header .logo:hover{
    text-decoration: none;
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}
/*seccion de cabecera de admin*/
.grid {
    margin-bottom: 1.5em;
    background: #FFFFFF;
}
.grid-info {
    background: #fff;
    padding: 1em;
}
/*--social-icons--*/
.widget {
    width: 32%;
    border: 1px solid #F5F1F1;
    padding: 0px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.widget.states-mdl {
    margin: 0 2%;
}
.stats-left {
    float: left;
    width: 70%;
    background-color: rgb(115,187,124);
    text-align: center;
    padding: 1em;
}
.states-mdl .stats-left {
    background-color: rgb(227,62, 85);
}
.states-mdl .stats-right {
    background-color: rgba(227,62, 85, 0.88);
}
.states-last .stats-left {
    background-color: rgb(43,131,116);
}
.states-last .stats-right {
    background-color: rgba(43,131,116, 0.84);
}
.stats-right {
    float: right;
    width: 30%;
    text-align: center;
    padding: 1.54em 1em;
    background-color: rgba(115,187,124,0.88);
}
.stats-right label:hover{
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    opacity: .3;
    -moz-opacity: .3;
}
.stats-left h5 {
    color: #fff;
    font-size: 1em;
}
.stats-left h4 {
    font-size: 1.5em;
    color: #fff;
    margin-top: 5px;
}
.stats-right label {
    font-size: 2.4em;
    color: #fff;
    transition: 1s ease;
}
/*fin de seeccion de cabecera de admin*/
.valor{
    width: 58%;
    padding-top: 21px;
    float: right;
    text-align: center;
}
.valor h1{
    margin: 0 !important;
}
.acciones{
    width: 27px;
    height: 26px;
    font-size: 10px;
    padding: 5px;
}
#busqueda{
    box-shadow: none;
}
#busqueda .input-gruop{
    display: table!important;
}
#busqueda input{
    margin-bottom: 0 !important;
}
.caja-cabecera h3{
    display: inline-block;
}
.cargador{
    display: none;
}
.ui-loader{
    display: none;
}
#cajaModal .modal-content{
    padding: 20px;
}
.form-control{
    margin-bottom: 6px;
}
.form-group {
     margin-bottom: 0;
}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.dropdown-menu{
    padding: 5px;
}

/*
.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}*/
